{% extends 'base.html' %}
{% block content %}
<form class="mt-4" action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        {% if form.name.errors %}
        {{ form.name(class="form-control is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.name(class="form-control ") }}
        {% endif %}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Submit</button>
    </div>
    {#<div class="form-group">

        {{ form.submit(class="btn btn-outline-info") }}
    </div>#}
</form>
<div class="ml-1">
    <h1>Available Widgets</h1>
    {% for widget in widget_list %}
    <a href="">{{ widget.name }}</a>
    <div>
        <button type="button" class="btn btn-outline-info btn-sm m-1" data-toggle="modal"
            data-target="#updateModal">Update</button>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
            data-target="#deleteModal">Delete</button>
    </div>
    <br>
    <div class="modal fade"  id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">Update Widget?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('update_widget', widget_id = widget.id) }}" method="POST">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            {% if form.name.errors %}
                            {{ form.name(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.name(class="form-control ") }}
                            {% endif %}
                        </fieldset>
                        {# <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div> #}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Widget?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_widget', widget_id = widget.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    


    {% endblock content %}
</div>